html {
  box-sizing: border-box;
  font-size: 100%;
  width: 375px;
  height: 823px;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
  color: rgba(0.09, 0.17, 0.3, 1);
}

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
}

.logo_info {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 18pt;
  font-weight: 700;
  line-height: 20pt;
  line-height: 74%;
  text-align: left;
  left: 12px;
  top: 10px;
  vertical-align: center;
  fill: solid rgba(0.38, 0.44, 1, 1);
  text-decoration: none;
  color: #6070ff;
  margin: 0;
  padding: 0;
}

.logo_vector-btn {
  border: 0;
  background-color: inherit;
}

.welcome {
  text-align: center;
}

.container-1 {
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  background: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  font-size: 40px;
  line-height: 52px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.detailed {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16pt;
  line-height: 24pt;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: rgba(0.2, 0.27, 0.39, 1);
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: medium;
  font-size: 16 pt;
  line-height: 24 pt;
  line-height: 100%;
  display: flex;
  text-align: left;
  vertical-align: top;
  fill: solid rgba(0.5, 0.55, 1, 1);
  color: #7f8cff;
  padding-left: 0;
  margin-left: 0;
}

.social-media {
  color: solid rgba(0.31, 0.37, 0.47, 1);
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: left;
  align-items: center;
  gap: 1.25rem;
}

.social-media a:hover svg path {
  fill: aqua;
}
